* {
    box-sizing: border-box;
}

#parent {
    width: 500px;
    height: 500px;
    background-color: lightgray;
    padding: 20px;
}

h1 {
    color: skyblue;
}

h3 {
    background-color: green;
}

li {
    
}

li:nth-child(2) {
    background-color: lightblue;
}

li:first-child {
    text-decoration: underline;
    background-color: red;
}